blockquote {
	font-style: italic;
	margin: 0 0 1.5rem;
	padding: 0.75rem 1rem 0.25rem 2rem;
	font-size: 1.2rem;
	border-left: 4px solid #eeeeee;
}

h1.page-title {
	font-size: 2.5rem;
	margin: 1rem $spacer 2rem;
}

@include media-breakpoint-up(md) {
	h1.page-title {
		font-size: 3.5rem;
		margin: 2rem $spacer 2rem;
	}
}

// Utilities
.text-danger {
	color: $red;
}

.font-demo {
	font-family: 'RosatomWebRegular';
	display: inline-block;
	font-size: 2.5rem;
	// letter-spacing: 0.1rem;
	padding: 1rem 1.5rem;
	margin-bottom: 2rem;
	border: 1px solid $gray-200;
	border-radius: $border-radius-sm;
}
